CF_ACCOUNT_ID=
CF_API_TOKEN=
CF_ACCESS_KEY_ID=
CF_SECRET_ACCESS_KEY=
CF_S3_API_ENDPOINT=
SSH_HOST=87.106.199.191
SSH_USER=root
SSH_PASS=
TYPESAFE_TEST_API_TOKEN_1=
TYPESAFE_MASTER_API_TOKEN_1=
RATE_LIMIT_PER_MINUTE=60
RATE_LIMIT_BURST=10
